.map{
    display: inline-block;
}
.login {
    display: inline-block;
    border-radius: 5px;
    width: 200px;
    padding: 8px;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
    transition: color 0.3s ease-out,
    background-color 0.3s ease-out,
    border-color 0.3s ease-out;
}
.login:hover,
.login:active {
    background-color: #c49e3a;
    border-color: #c49e3a;
    color: #fff;
    transition: color 0.3s ease-in,
    background-color 0.3s ease-in,
    border-color 0.3s ease-in;
}
.singin {
    display: inline-block;
    border-radius: 5px;
    top: 150%;
    width: 200px;
    padding: 8px;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
    transition: color 0.3s ease-out,
    background-color 0.3s ease-out,
    border-color 0.3s ease-out;
}
.singin:hover,
.singin:active {
    background-color: #65c47c;
    border-color: #65c47c;
    color: #fff;
    transition: color 0.3s ease-in,
    background-color 0.3s ease-in,
    border-color 0.3s ease-in;
}
.change_info{
    display: inline-block;
    border-radius: 5px;
    top: 150%;
    width: 200px;
    padding: 8px;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
    transition: color 0.3s ease-out,
    background-color 0.3s ease-out,
    border-color 0.3s ease-out;
}
.change_info:hover,
.change_info:active {
    background-color: #c49e3a;
    border-color: #c49e3a;
    color: #fff;
    transition: color 0.3s ease-in,
    background-color 0.3s ease-in,
    border-color 0.3s ease-in;
}
